# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
build/
out/

# Build outputs
bin/
target/

# IDE settings
.classpath
.project
.settings/
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
